
.headshot {
    width: 250px;
    height: auto;
}


body {
  margin: 0;
  }

/****************   Nav Section **********************/
nav {
	background-color: #ddddff;
  border: 3px solid #080856;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "SN Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

/***********************  Footer Section   **************************/
footer {
	background-color: #ddddff;
  border: 3px solid #080856;
  display:flex;
  justify-content: center;
}

/*********** Splash Page ************************/
header {
  border: 5px solid #080856;
  background-color: rgb(183, 222, 223);
  text-align: center;
  padding-bottom: 10px;
  border-radius: 0px 0px 25px 25px;
}

.sn-pro {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

header h1 {
  font-family: "SN Pro", sans-serif;
  color: #000055;
}

header img {
  border: 5px solid #000055;
  border-radius: 8px;
}

.address {
  font-style: italic;
  padding-left: 10px;
  text-align: center;
}

.tagline {
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
}

/************* Sections ********************/
hr {
  border: 10px solid #000055;
  height: 10px;
  border-radius: 5px;
  background-color: #ddddff;
}

section {
  text-align: center;
  font-family: "SN Pro", sans-serif;
}

section h3 {
  color: #000055;
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 10px;
}

section h2 {
  color: #000055;
  font-size: 35px;
}

section dl {
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: center;
  font-size: 17px;
  margin-top: 5px;
}

section dt {
  border: 4px solid #000055;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

section dd {
  border: 4px solid #000055;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

section ul {
  list-style: square;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

section a {
  color: #550000;
  text-decoration: none;
}

section a:hover {
  color: #000055;
  cursor: pointer;
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 10px 10px 10px 10px;
  font-family: "SN Pro", sans-serif;
}

.card img {
  width: 80px;
  height: 80px; 
  display: block;
  margin: 0 auto;
}

.card h3 {
  text-align: center;
}

.card {
  background-color: #ddddff;
  border: 4px solid #080856;
  box-shadow: 0 0 6px black;
}

.three-col :hover {
  background-color: beige;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: block;
    flex-direction: column;
    align-items: flex-start;
    }

    .three-col {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto; 
}

input {
  resize: vertical;
  min-height: 20px;
}

textarea {
   resize: vertical;
  min-height: 120px;
}